.sociallinks{	
	height:200px;
	width:200px;
	margin:0 auto;
	border:2px solid #ff9900;
}
	ul{
		margin-top:25px;
	}
		li{
			display:inline-block;
			padding: 4px 0px 4px 10px;
			text-align : right;
		}
			a
			{
				display: block;
				border-radius: 50% !important;
				border: 1px solid #5A5A5A;
				padding: 0px 3px;
				width: 45px;
				height: 45px;
			}
				div
				{
					border-radius: 50% !important;
				}
	
.img3{
	width : 38px;
	height:40px;
	display:inline-block;
}
#img1{
	background: url('img/sprite.png') 5px 2px;	
}
#img1:hover{
	 background: url('img/sprite.png') 5px -36px;
	}
#img2{
	background: url('img/sprite.png') -113px 4px;
	
}
#img2:hover{
		background:url('img/sprite.png') -113px -36px;
	}
#img3{
	 background: url('img/sprite.png') -37px 3px;
	&:hover{
    background: url('img/sprite.png') -37px -36px;
	}
}
#img3:hover{
    background: url('img/sprite.png') -37px -36px;
	}
#img4{
	background: url('img/sprite.png') -75px 4px;
}
#img4:hover{
		background: url('img/sprite.png') -75px -36px;
	}
